<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="loading-overlay" [class.active]="isLoading">
        <div class="spinner"></div>
      </div>
      
    <div class="example-input d-flex justify-content-center" *ngIf="!isFinish">
      <div class="position-absolute top-50 start-50 translate-middle" style="margin-left: 30%;
      margin-top: 15%;">
        <span class="heading-form">
          Nhập tài khoản email bạn đã đăng ký ở ô bên dưới
        </span>
        <input
          style="width: 550px; margin-left: 30px;"
          [(ngModel)]="inputEmail"
          type="email"
          nz-input
          placeholder="Nhập tài khoản và mật khẩu tại đây"
          nzSize="large"
        />
        <div style="margin-top: 20px;">
            <button nz-button nzType="primary" (click)="handleInputEmail()" nzDanger>Xác nhận </button>
        </div>

      </div>
    </div>
    <div *ngIf="isFinish">
    <nz-result
      nzStatus="success"
      nzTitle="Chúng tôi đã gửi một mật khẩu về email của bạn thành công"
      nzSubTitle="Xin cảm ơn vì đã chờ"
    >
      <div nz-result-extra>
        <button nz-button nzType="primary" (click)="routeFeducationTeacher()">FEDUCATION CHO GIÁO VIÊN</button>
        <button (click)="routeFeducationStudent()" nz-button>FEDUCATION CHO STUDENT</button>
        <a href="http://localhost:4200"  id="student" hidden></a>
      </div>
    </nz-result>
</div>
  </body>
</html>
